body {
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	background-size: cover;
	background-image: url('contact_us_2.jpg');
}
h3 {
	padding: 1px;
	margin: 0;
	text-align: center;
	color: rgb(255,217,9);
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 650px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
}



	input [type=text], select, textarea
{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type=submit] 
{
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
	input[type=submit]:hover
	{
		background-color: #45a049;
	}



